# CodeIgniter specific
/application/cache/*
/application/logs/*
/application/config/database.php
/application/config/config.php
/application/config/autoload.php
/application/config/constants.php
/application/config/migration.php
/application/config/routes.php

# Composer
/vendor/
/composer.lock

# Package-specific directories
/bin/
/build/
/docs/
/tests/

# IDE and Editor files
/.idea/
/.vscode/

# System files
/.htaccess
/index.php
/licence.txt
/robots.txt

# User-specific files
/.env
/.env.example
/.env.local

# Miscellaneous
.DS_Store
*.log
